{%extends "base.html" %}
    {% block container %}
  <main class="container">
    <section class="mt-3 pb-5">
      {% for key, value in tours.items() %}
      <h1 class="display-3 mt-4">{{value.title}} {% if value.stars == "1" %} ★{% elif value.stars == "2" %} ★★{% elif value.stars == "3" %} ★★★{% elif value.stars == "4" %} ★★★★{% elif value.stars == "5" %} ★★★★★{%endif%}</h1>
      <!-- HERO -->
      <p class="lead">{{value.country}} {{departures[value.departure]}}
        {{value.nights}} ночей</p>
      <img src="https://images.unsplash.com/photo-1551882547-ff40c63fe5fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="w-75" alt="">
      <p class="my-4 w-75">{{value.description}}</p>
      <a href="#" class="btn btn-success btn-lg">Купить тур за {{value.price}}</a>
    </section>
    {% endfor %}
 {% endblock %}